﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
<!DOCTYPE Html>
@try
{
    var currentPage = Umbraco.AssignedContentItem;
    var ogImage = Model.Value<IPublishedContent>("openGraphImage");
    var current_culture = currentPage.GetCultureFromDomains();
    var site = Umbraco.ContentAtRoot().Where(x => x.ContentType.Alias.Equals("homepage") && x.GetCultureFromDomains().Equals(current_culture)).FirstOrDefault();
    var favicon = String.Empty;

    try
    {
        favicon = site.Value<IPublishedContent>("favicon").GetCropUrl(32, 32, quality: 70);
    }
    catch (Exception) { }

    <html>

    <head>
        @if (favicon.Length > 0)
        {
            <link rel="shortcut icon" type="image/png" href="@favicon" />
        }
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:description" content="@Html.Raw(currentPage.Value("metaDescription"))" />
        <meta name="WorldIT" content="">
        <meta http-equiv="content-language" content="@currentPage.GetCultureFromDomains()">
        <meta property="og:title" content="Azapp | worldIT" />
        <meta property="og:image" content="@ogImage.Url(mode: UrlMode.Absolute)" />
        <meta property="og:type" content="business.business" />
        <meta property="og:url" content="@currentPage.Url(mode: UrlMode.Absolute)" />
        <meta property="fb:app_id" content="azapp.pt" />
        <meta property="fb:app:id" content="azapp.pt" />

        <title>@currentPage.Value("title")</title>
        <meta name="description" content="@Html.Raw(currentPage.Value("metaDescription"))" />


        <!-- Bootstrap core CSS -->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/devices.min.css" rel="stylesheet" />

        <!-- Custom fonts for this template -->
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/Content/vendor/simple-line-icons/css/simple-line-icons.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

        <!-- Plugin CSS -->
        <link rel="stylesheet" href="~/Content/device-mockups/device-mockups.min.css">
        <!-- Custom styles for this template -->
        <link href="~/Content/css/new-age.min.css" rel="stylesheet">

        <script type="application/ld+json">
            {
            "@@context": "https://schema.org/",
            "@@type": "Product",
            "name": "Azapp",
            "description": "Your APP!",
            "brand": "Azapp | worldIT"
            }
        </script>

    </head>
    <body>
        @RenderBody()

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-53635311-1', 'auto');
            ga('send', 'pageview');

        </script>

        @*<script type="text/javascript">
            piAId = '918401';
            piCId = '5580';
            piHostname = 'pi.pardot.com';

            (function () {
                function async_load() {
                    var s = document.createElement('script'); s.type = 'text/javascript';
                    s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
                    var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
                }
                if (window.attachEvent) { window.attachEvent('onload', async_load); }
                else { window.addEventListener('load', async_load, false); }
            })();
        </script>*@

    </body>
</html>


}
catch (Exception) { }




