﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.Models
@using Umbraco.Web



@try
{

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137991324-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-137991324-1');
    </script>


    var cofinancedProjects = Umbraco.AssignedContentItem;
    var site = cofinancedProjects.Parent;
    var colorHeader = site.HasValue("headerColor") ? "#" + site.Value("headerColor") : "#ffffff";
    ViewBag.site = site;


    <body id="page-top">


        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="@(site.HasValue("headerColor") ? String.Format("{0}{1}{2}", " background-color:#", site.Value("headerColor"), ";") : " background-color:#ffffff")">

            <!-- Navigation -->
            <div class="container">

                <span class="navbar-brand js-scroll-trigger">
                    <img class="logo" src="@(((IPublishedContent)site.Value("logo")).Url)" alt="" />
                </span>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" style="@(site.HasValue("navigationFontSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("navigationFontSize"), "px !important;") : "font-size:18px;")
                                @(site.HasValue("navigationFontColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("navigationFontColor"), ";") : "color:#ffffff")" href="/">Back To Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="download bg-primary text-center" id="download">
            <div class="container">
                <div class="aboutproject" style="font-size: 20px;">
                    @Html.Raw(cofinancedProjects.Value("text"))
                </div>
            </div>
        </section>

        <footer id="footer" style="padding:0; @(site.HasValue("footerBackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footerBackgroundColor"), "!important;") : "background-color:#000")">

            <div class="container" style=" padding-bottom: 25px; padding-top:25px; @(site.HasValue("footerBackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footerBackgroundColor"), "!important;") : "background-color:#000")
                 @(site.HasValue("footerColorGradiant") ? String.Format("{0}{1}{2}", "background:", site.Value("footerColorGradiant"), " !important;") : "")">
                @Html.Partial("~/Views/Partials/_Footer.cshtml")
            </div>
            <div class="footerCustomHorizontalSeparator" style="background-color: #fff;"></div>
            <div class="container" id="cofinancedLogos" style="@(site.HasValue("footer2BackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footer2BackgroundColor"), "!important;") : "background-color:#000")">

                <p style="margin-bottom: 25px; @(site.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("footerTextSize"), "px !important;") : "font-size:18px;")
       @(site.HasValue("footer2TextColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("footer2TextColor"), ";") : "color:#ffffff")">Cofinanced by</p>


                <ul class="list-inline">
                    <li class="list-inline-item">
                        <span>
                            @foreach (var logos in (IEnumerable<IPublishedContent>)cofinancedProjects.Value("confinacedImages"))
                            {
                                <img id="footerCofinancedLogos" alt="" src="@logos.Url" style="margin-right:25px; width:120px;" />
                            }
                        </span>
                    </li>
                </ul>
            </div>
        </footer>


        <script src="~/Content/vendor/jquery/jquery.min.js"></script>


        <!-- Bootstrap core CSS -->
        <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


        <!-- Custom styles for this template -->
        <link href="~/Content/css/new-age.min.css" rel="stylesheet" />


    </body>

    <style>

         p {
            font-size: unset;
        }


        .aboutproject {
            padding-top: 1%;
        }

        .bg-primary{
            background-color:#fff !important;
            background:unset !important;
            text-align:left !important;
        }

        body {
            margin: 0;
        }

        .footerCustomHorizontalSeparator{
       height: 1px;
    background-color: #f0423d;
    width: 100%;
        }


        #cofinancedLogos{
           padding-bottom: 0px !important;
           padding-top: 25px;
        max-width: 100% !important;
        padding-bottom: 25px !important;
        }

            /*width*/
        ::-webkit-scrollbar {
            width: 10px;
        }

        /*Track*/
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /*Handle*/
        ::-webkit-scrollbar-thumb {
            background: @colorHeader;
        }

            /*Handle on hover*/
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
       }


      @@media (min-width: 767px){


        #footerCofinancedLogos{
        margin-bottom: 2%;
        }


         .aboutproject {
             font-size: 30px;

        }

        }

    </style>




}
catch (Exception e)
{

    string result = e.Message + ";";
    while (e.InnerException != null)
    {
        result += e.InnerException.Message + ";";
        e = e.InnerException;
    }
    ViewBag.SUCCESS = "Error sending message";


}