﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;

<!DOCTYPE html>

@try
{

    var site = Umbraco.AssignedContentItem;
    var backgroundImage = site.HasValue("backgroundImage") ? site.Value<IPublishedContent>("backgroundImage").GetCropUrl(width: 0, height: 0, quality: 70, preferFocalPoint: true) : "";
    var ogImage = Model.Value<IPublishedContent>("openGraphImage");

    <html lang="@site.GetCultureFromDomains()">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Azapp" content="width=device-width, initial-scale=1">
        <meta property="og:description" content="@Html.Raw(site.Value("metaDescription"))" />
        <meta property="og:title" content="Azapp | worldIT" />
        <meta property="og:image" content="@ogImage.Url(mode: UrlMode.Absolute)" />
        <meta property="og:type" content="business.business" />
        <meta property="og:url" content="@site.Url(mode: UrlMode.Absolute)" />
        <meta property="fb:app_id" content="azapp.pt" />
        <meta property="fb:app:id" content="azapp.pt" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>@site.Value("title")</title>

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

        <!-- Font Awesome Icon -->
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <!-- Custom stlylesheet -->
        <link href="~/Content/style.css" rel="stylesheet" />
    </head>

    <body>

        <div id="notfound" style="@(String.Format("{0}{1}{2}", "background-image:url(", @backgroundImage, ");"))">
            <div class="notfound-bg"></div>
            <div class="notfound">
                <div class="notfound-404">
                    <h1>@site.Value("pageTitle")</h1>
                </div>
                <h2>@site.Value("text")</h2>
                <div class="notfound-social">
                    <a href="@site.Value("facebookLink")" target="_blank">
                        <i class="@site.Value("facebookIcon")"></i>
                    </a>

                    <a href="@site.Value("linkedinLink")" target="_blank">
                        <i class="@site.Value("linkedinIcon")"></i>
                    </a>
                </div>
                <a class="home" href="@site.Value("homeRedirectUrl")" ~target="_blank">
                    @site.Value("homeRedirect")
                </a>
            </div>
        </div>

    </body>

</html>


}
catch (Exception e) { }

<style>
    .home:hover {
        color: #e8531a;
    }
</style>