﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@try
{
    Layout = "~/Views/Shared/_Layout.cshtml";

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137991324-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-137991324-1');
    </script>

    var site = Umbraco.AssignedContentItem;

    var childs = site.ChildrenOfType("menuItem");
    var cofinancedProjects = site.ChildrenOfType("cofinancedProjects").FirstOrDefault();
    ViewBag.site = site;


    //ViewBag.conf = cofinancedProjects;
    //var aboutAzaapChilds = (IEnumerable<IPublishedContent>)site.Parent.Children.Where(x => x.ContentType.Alias.Equals("aboutAzapp") == false);
    //var index = aboutAzaapChilds.IndexOf(currentPage);

    @*Modal de Loja *@
    var companyUserNameAlert = String.Empty;
    var phoneNumberAlert = String.Empty;
    var emailAlert = String.Empty;
    var descriptionAlert = String.Empty;
    var appUrlAlert = String.Empty;
    var appEmailAlert = String.Empty;
    var passwordAlert = String.Empty;
    var appKeywordsAlert = String.Empty;
    var functionalitiesAlert = String.Empty;
    var successAlert = String.Empty;
    var errorAlert = String.Empty;
    var appNameAlert = String.Empty;

    @*Modal de Contacto/Suporte *@
    var userNameAlert = String.Empty;
    var emailAlert2 = String.Empty;
    var descriptionAlert2 = String.Empty;


    var colorHeader = site.HasValue("headerColor") ? "#" + site.Value("headerColor") : "#ffffff";
    var backgroundImage = site.HasValue("backgroundImage") ? site.Value<IPublishedContent>("backgroundImage").GetCropUrl(width: 0, height: 0, quality: 70, preferFocalPoint: true) : "";

    IPublishedContent mailChimp = null;

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="@(site.HasValue("headerColor") ? String.Format("{0}{1}{2}", " background-color:#", site.Value("headerColor"), ";") : " background-color:#ffffff")">
            @Html.Partial("~/Views/Partials/_Navigation.cshtml")
        </nav>

        <header class="masthead backgroundImage" style="@(String.Format("{0}{1}{2}", "background-image:url(", @backgroundImage, ");")) @(site.HasValue("backgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("backgroundColor"), ";") : "background-color:#ffffff;")
                 @(site.HasValue("backgroundColorGradiant") ? String.Format("{0}{1}{2}", "background:", site.Value("backgroundColorGradiant"), " !important;") : "")">
            <div class="container h-100">
                <div class="row h-100" style="height:105% !important;">
                    <div class="col-lg-5 my-auto">
                        <div class="header-content mx-auto">
                            <h1 class="mb-5 introductionText" style="@(site.HasValue("textSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("textSize"), "px;") : "font-size:18px;")
                                @(site.HasValue("textColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("textColor"), ";") : "color:#ffffff")">
                                @site.Value("introductionTextAboutApp")
                            </h1>
                            <a id="button1" class="btn btn-outline btn-xl js-scroll-trigger" data-toggle="modal" data-target="#myModal" style="cursor: pointer; @(site.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("buttonTextSize"), "px !important;") : "font-size:18px;")
                                @(site.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("buttonTextColor"), ";") : "color:#ffffff") @(site.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "border-color:#", site.Value("buttonTextColor"), ";") : "border-color:#ffffff")">
                                @Html.Raw(site.Value("buttonText"))
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 my-auto">
                        <div class="Imagecontainer">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->

                                @try
                                {
                                    var sliderImages = (IEnumerable<IPublishedContent>)site.Value("phoneImage");

                                    if (sliderImages.Count() > 1)
                                    {
                                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
                                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
                                    }



                                    <div class="owl-carousel owl-theme">
                                        @foreach (var image in sliderImages)
                                        {
                                            <img src="@(image.Url)" class="img-responsive backgroundImage" alt="">
                                        }

                                    </div>
                                }
                                catch (Exception) { }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        @foreach (var menuRef in childs)
        {

            var menuChild = menuRef.Children;
            IPublishedContent firstChild = null;
            if (menuChild.Any())
            {

                firstChild = menuChild.FirstOrDefault();
                var menuAlias = firstChild.ContentType.Alias;
                backgroundImage = firstChild.HasValue("backgroundImage") ? firstChild.Value<IPublishedContent>("backgroundImage").GetCropUrl(width: 0, height: 0, quality: 70, preferFocalPoint: true) : "";

                var brandStoreImages = firstChild.Value<IEnumerable<IPublishedContent>>("storeBrands");
                switch (menuAlias)
                {
                    case "downloadAzapp":

                        <section class="download bg-primary text-center backgroundImage" id="@menuAlias" style="@(String.Format("{0}{1}{2}", "background-image:url(", @backgroundImage, ");")) @(firstChild.HasValue("backgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", firstChild.Value("backgroundColor"), " !important;") : "background-color:#ffffff;")
                                 @(firstChild.HasValue("backgroundColorGradiant") ? String.Format("{0}{1}{2}", "background:", firstChild.Value("backgroundColorGradiant"), " !important;") : "")">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 mx-auto">
                                        <h2 class="section-heading" id="downloadAzappHeading" style="@(firstChild.HasValue("primaryTextFontColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("primaryTextFontColor"), ";") : "color:#ffffff;")
                                       @(firstChild.HasValue("primaryTextFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("primaryTextFontSize"), "px;") : "font-size:18px;")">
                                            @Html.Raw(firstChild.Value("primaryText"))
                                        </h2>
                                        <h3 class="section-heading" style="margin-bottom:40px; line-height: 2.0 !important; @(firstChild.HasValue("secondaryTextFontColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("secondaryTextFontColor"), ";") : "color:#ffffff;")
                                       @(firstChild.HasValue("secondaryTextFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("secondaryTextFontSize"), "px !important;") : "font-size:18px;")">
                                            @Html.Raw(firstChild.Value("secondaryText"))
                                        </h3>
                                        <div class="badges mb-5" style="height:auto;">

                                            @if (firstChild.HasValue("androidStoreUrl") && firstChild.HasValue("androidLogo"))
                                            {
                                                <a class="badge-link androidLogo" href="@firstChild.Value("androidStoreUrl")" target="_blank">
                                                    <img src="@(((IPublishedContent)firstChild.Value("androidLogo")).Url)" alt="">
                                                </a>}

                                            else if (firstChild.HasValue("androidLogo") && !firstChild.HasValue("androidStoreUrl"))
                                            {
                                                <span class="badge-link androidLogo"> <img src="@(((IPublishedContent)firstChild.Value("androidLogo")).Url)" alt=""> </span>
                                            }


                                            @if (firstChild.HasValue("appleStoreUrl") && firstChild.HasValue("appleLogo"))
                                            {
                                                <a class="badge-link appleStoreUrl" href="@firstChild.Value("appleStoreUrl")" target="_blank">
                                                    <img src="@(((IPublishedContent)firstChild.Value("appleLogo")).Url)" alt="">
                                                </a>}

                                            else if (firstChild.HasValue("appleLogo") && !firstChild.HasValue("appleStoreUrl"))
                                            {
                                                <span class="badge-link appleStoreUrl"> <img src="@(((IPublishedContent)firstChild.Value("appleLogo")).Url)" alt=""> </span>

                                            }

                                            @if (firstChild.HasValue("htmlCssLogo"))
                                            {
                                                <span class="badge-link htmlCssLogo">
                                                    <img src="@(((IPublishedContent)firstChild.Value("htmlCssLogo")).Url)" alt="">
                                                </span>
                                            }

                                        </div>
                                        <a id="modal-button" class="btn btn-outline btn-xl js-scroll-trigger" data-toggle="modal" data-target="#myModal" style="cursor: pointer; @(firstChild.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("buttonTextColor"), ";") : "color:#ffffff")
                                        @(firstChild.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "border-color:#", firstChild.Value("buttonTextColor"), ";") : "border-color:#ffffff") @(site.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("buttonTextSize"), "px !important;") : "font-size:18px;")">
                                            @firstChild.Value("buttonText")
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content" style="box-shadow:#ececec 5px 5px 5px">
                                        <div class="modal-header" style="background-color:#ececec;">
                                            <div class="modalTitleContainer" id="focusTitle" style="@(site.HasValue("modalTitleColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("modalTitleColor"), ";") : "color:#ffffff") @(firstChild.HasValue("modalTitleFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("modalTitleFontSize"), "px !important;") : "font-size:18px;")">
                                                <span>@firstChild.Value("title")</span>
                                            </div>
                                            <button class="close" style="cursor: pointer;" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="modalProductsText" style="margin-bottom:2%;">
                                                @Html.Raw(firstChild.Value("modalText"))
                                            </div>
                                            <div class="forms">
                                                <form method="post" id="downloadForm">

                                                    @Html.AntiForgeryToken()
                                                    @{
                                                        var options = firstChild.Value<string[]>("functionalities").ToList();

                                                        List<SelectListItem> items = new List<SelectListItem>();

                                                        foreach (var item in options)
                                                        {
                                                            items.Add(new SelectListItem() { Text = item, Value = item });

                                                        }
                                                        companyUserNameAlert = firstChild.Value("companyUserNameAlert").ToString();
                                                        phoneNumberAlert = firstChild.Value("phoneNumberAlert").ToString();
                                                        emailAlert = firstChild.Value("emailAlert").ToString();
                                                        appNameAlert = firstChild.Value("appNameAlert").ToString();
                                                        descriptionAlert = firstChild.Value("descriptionAlert").ToString();
                                                        appUrlAlert = firstChild.Value("appUrlAlert").ToString();
                                                        appEmailAlert = firstChild.Value("appEmailAlert").ToString();
                                                        passwordAlert = firstChild.Value("passwordAlert").ToString();
                                                        appKeywordsAlert = firstChild.Value("appKeywordsAlert").ToString();
                                                        functionalitiesAlert = firstChild.Value("functionalitiesAlert").ToString();
                                                        successAlert = firstChild.Value("successAlert").ToString();
                                                        errorAlert = firstChild.Value("successAlert").ToString();
                                                    }

                                                    <div id="alertMessages"></div>
                                                    <div id="emptyFieldsAlert" style="text-align:left; display:none;" class="alert alert-warning" role="alert">
                                                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>

                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="companyUserName">@Html.Raw(firstChild.Value("companyUserName"))</label>
                                                        <input type="text" id="companyUserName" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="CompanyUserNameField" @*aria-describedby="emailHelp"*@ class="form-input" />
                                                    </div>

                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="phoneNumber">@Html.Raw(firstChild.Value("phoneNumber"))</label>
                                                        <input type="text" id="phoneNumber" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="PhoneNumberField" class="form-input" />
                                                    </div>

                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="email">@Html.Raw(firstChild.Value("email"))</label>
                                                        <input type="text" id="email" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="EmailField" class="form-input" />
                                                    </div>

                                                    @*<div class="form-group" style="text-align:left;">
                                                            <label for="appName">@Html.Raw(firstChild.Value("appName"))</label>
                                                            <input type="text" id="appName" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="AppNameField" class="form-input" />
                                                        </div>*@

                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="description">@Html.Raw(firstChild.Value("description"))</label>
                                                        <textarea type="text" id="description" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;resize:none;" name="DescriptionField" rows="6" class="form-input"></textarea>
                                                    </div>
                                                    @*<div class="form-group" style="text-align:left;">
                                                            <label for="appUrl">@Html.Raw(firstChild.Value("appUrl"))</label>
                                                            <input type="text" id="appUrl" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="AppUrlField" class="form-input" />
                                                        </div>*@
                                                    @*<div class="form-group" style="text-align:left;">
                                                            <label for="emailApp">@Html.Raw(firstChild.Value("appEmail"))</label>
                                                            <input type="text" id="emailApp" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="EmailAppField" class="form-input" />
                                                        </div>*@
                                                    @*<div class="form-group" style="text-align:left;">
                                                            <label for="appPassword">@Html.Raw(firstChild.Value("password"))</label>
                                                            <input type="text" id="appPassword" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="AppPasswordField" class="form-input" />
                                                        </div>*@
                                                    @*<div class="form-group" style="text-align:left;">
                                                            <label for="appKeywords">@Html.Raw(firstChild.Value("appKeywords"))</label>
                                                            <input type="text" id="appKeywords" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="AppKeywordField" class="form-input" />
                                                        </div>*@
                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="functionalities">@Html.Raw(firstChild.Value("funcionalitiesLabel"))</label>
                                                        <select id="functionalities" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="FuncionalitiesLabelField" class="form-input" size="6" multiple="multiple">
                                                            @foreach (var tag in options)
                                                            {
                                                                <option value="@tag">@tag</option>
                                                            }
                                                        </select>

                                                    </div>
                                                    @*<div class="form-group" style="text-align:left;">
                                                            <label for="observations">@Html.Raw(firstChild.Value("observations"))</label>
                                                            <textarea id="observations" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;resize:none;" name="observationsField" class="form-input" rows="6"></textarea>
                                                        </div>*@
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a id="submitDownload" style="cursor: pointer; background-color:#f0423d; @(site.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("buttonTextSize"), "px !important;") : "font-size:18px;") color:#fff;" class="btn btn-xl btn">@Html.Raw(firstChild.Value("modalSendButton"))</a>
                                            <a id="bottomCloseButton" style="color:white; cursor: pointer; @(site.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("buttonTextSize"), "px !important;") : "font-size:18px;")" class="btn btn-xl btn-secondary" data-dismiss="modal">@Html.Raw(firstChild.Value("modalCloseButton"))</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        break;

                    case "contactUs":

                        <section class="cta backgroundImage" id="@menuAlias" style="@(String.Format("{0}{1}{2}", "background-image:url(", @backgroundImage, ");")) @(firstChild.HasValue("backgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", firstChild.Value("backgroundColor"), "!important;") : "background-color:#ffffff;")
                                 @(firstChild.HasValue("backgroundColorGradiant") ? String.Format("{0}{1}{2}", "background:", firstChild.Value("backgroundColorGradiant"), " !important;") : "")">
                            <div class="cta-content">
                                <div class="container">
                                    <h1 id="contactUsHeader" style="@(firstChild.HasValue("primaryTextColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("primaryTextColor"), ";") : "color:#ffffff;")
                                       @(firstChild.HasValue("primaryTextFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("primaryTextFontSize"), "px;") : "")">
                                        @Html.Raw(firstChild.Value("primaryText"))
                                    </h1>
                                    <h3 id="contactUsHeader" class="mb-5" style="@(firstChild.HasValue("secondaryTextColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("secondaryTextColor"), ";") : "color:#ffffff;")
                                       @(firstChild.HasValue("secondaryTextFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("secondaryTextFontSize"), "px;") : "")">
                                        @Html.Raw(firstChild.Value("secondaryText"))
                                    </h3>
                                    <a id="modal-button2" class="btn btn-outline btn-xl js-scroll-trigger" style="cursor: pointer; @(firstChild.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("buttonTextColor"), ";") : "color:#ffffff;")  @(firstChild.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "border-color:#", firstChild.Value("buttonTextColor"), " ;") : "border-color:#ffffff")" data-toggle="modal" data-target="#myModal2">
                                        @Html.Raw(firstChild.Value("buttonText"))
                                    </a>
                                </div>
                            </div>
                            <div class="overlay"></div>

                            <div id="myModal2" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                    <div class="modal-content" style="box-shadow:#ececec 5px 5px 5px">
                                        <div class="modal-header" style="background-color:#ececec;">
                                            <div class="modalTitleContainer2" style="@(site.HasValue("modalTitleColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("modalTitleColor"), ";") : "color:#ffffff") @(firstChild.HasValue("modalTitleFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("modalTitleFontSize"), "px !important;") : "font-size:18px;")">
                                                <span>@firstChild.Value("title")</span>
                                            </div>
                                            <button class="close" style="cursor: pointer;" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="modalProductsText2 text-center" style="margin-bottom:2%;">
                                                @Html.Raw(firstChild.Value("modalText"))
                                            </div>
                                            <div class="forms">
                                                <form method="post" id="contactUsForm">

                                                    @Html.AntiForgeryToken()
                                                    @{
                                                        var options2 = firstChild.Value<string[]>("type");
                                                        userNameAlert = firstChild.Value("userNameAlert").ToString();
                                                        emailAlert2 = firstChild.Value("emailAlert").ToString();
                                                        descriptionAlert2 = firstChild.Value("descriptionAlert").ToString();

                                                    }
                                                    <div id="alertMessages2"></div>
                                                    <div id="emptyFieldsAlert2" style="text-align:left; display:none;" class="alert alert-warning" role="alert">
                                                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="userName">@Html.Raw(firstChild.Value("userName"))</label>
                                                        <input type="text" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" id="userName" name="UserNameField" class="form-input" />
                                                    </div>
                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="typeLabel">@Html.Raw(firstChild.Value("typeLabel"))</label>
                                                        <select id="type" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="TypeField" class="form-input" size="1">
                                                            @foreach (var tag in options2)
                                                            {
                                                                <option value="@tag">@tag</option>
                                                            }
                                                        </select>
                                                        @*<small id="typeLabelSmall" class="form-text text-muted" aria-describedby="type">Escolha o tipo de contacto que pretende</small>*@
                                                    </div>
                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="email2">@Html.Raw(firstChild.Value("email"))</label>
                                                        <input type="text" id="email2" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="EmailField2" class="form-input" />
                                                    </div>
                                                    <div class="form-group" style="text-align:left;">
                                                        <label for="description2">@Html.Raw(firstChild.Value("description"))</label>
                                                        <textarea id="description2" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;resize:none;" name="DescriptionField2" rows="6" class="form-input"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a id="submitHelp" style=" cursor: pointer; background-color:#f0423d; color:#fff; @(site.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("buttonTextSize"), "px !important;") : "font-size:18px;")" class="btn btn-xl btn">@Html.Raw(firstChild.Value("modalSendButton"))</a>
                                            <a id="bottomCloseButton2" style="color:white; cursor: pointer; @(site.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("buttonTextSize"), "px !important;") : "font-size:18px;")" class="btn btn-xl btn-secondary" data-dismiss="modal">@Html.Raw(firstChild.Value("modalCloseButton"))</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </section>
                        break;

                    case "aboutAzapp":

                        var textWithIcons = firstChild.ChildrenOfType("azappContent").ToList();

                        <section class="features backgroundImage" id="@menuAlias" style="@(firstChild.HasValue("backgroundImage") ? String.Format("{0}{1}{2}", "background-image:url(", @backgroundImage, ");") : "") @(firstChild.HasValue("backgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", firstChild.Value("backgroundColor"), " !important;") : "background-color:#ffffff;")
                                  @(firstChild.HasValue("backgroundColorGradiant") ? String.Format("{0}{1}{2}", "background:", firstChild.Value("backgroundColorGradiant"), " !important;") : "")">
                            <div class="container">
                                <div class="section-heading text-center">
                                    <h2 style="@(firstChild.HasValue("primaryTitleFontColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("primaryTitleFontColor"), ";") : "color:#ffffff;")
                                       @(firstChild.HasValue("primaryTitleFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("primaryTitleFontSize"), "px !important;") : "font-size:18px;")">
                                        @Html.Raw(firstChild.Value("primaryTitle"))
                                    </h2>

                                    <span class="text-muted" style=" line-height: 2.0 !important;@(firstChild.HasValue("secondaryTextFontColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("secondaryTextFontColor"), " !important;") : "color:#ffffff;")
                                       @(firstChild.HasValue("secondaryTextFontSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("secondaryTextFontSize"), "px !important;") : "font-size:18px;")">

                                        @Html.Raw(firstChild.Value("secondaryText"))
                                    </span>
                                    <hr>
                                </div>
                                <div class="section-heading text-center">
                                    <h2 style="@(firstChild.HasValue("primaryTitleFontColor2") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("primaryTitleFontColor2"), ";") : "color:#ffffff")
                                       @(firstChild.HasValue("primaryTitleFontSize2") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("primaryTitleFontSize2"), "px !important;") : "font-size:18px;")">
                                        @Html.Raw(firstChild.Value("primaryTitle2"))
                                    </h2>

                                    <span class="text-muted" style=" line-height: 2.0 !important; @(firstChild.HasValue("secondaryTextFontColor2") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("secondaryTextFontColor2"), " !important;") : "color:#ffffff;")
                                       @(firstChild.HasValue("secondaryTextFontSize2") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("secondaryTextFontSize2"), "px !important;") : "font-size:18px;")">

                                        @Html.Raw(firstChild.Value("secondaryText2"))
                                    </span>
                                    <hr>
                                </div>

                                <div class="row" style="justify-content:center;">
                                    <div class="col-lg-5 my-auto" style="justify-content: center; display: flex; margin-right:2%;" id="iphoneColum">
                                        <div id="mup-container">
                                            <div id="iphone-x" class="container grid-xl text-center">

                                                <div class="column col-sm-12 col-md-12 col-lg-12">
                                                    <div class="device device-iphone-x animate">
                                                        <div class="device-frame">
                                                            <div class="device-content animate-bg uniquePhoneImage" id="defaultImage" style="background-image:url(@(((IPublishedContent)firstChild.Value("phoneImage")).Url))"> </div>

                                                            <div class="uniquePhoneImageFather" style="display:none;">
                                                                @foreach (var azappContent in textWithIcons)
                                                                {
                                                                    <div class="device-content animate-bg uniquePhoneImage" id="@azappContent.Id" style="background-image:url(@(((IPublishedContent)azappContent.Value("image")).Url));">


                                                                    </div>
                                                                }
                                                            </div>

                                                        </div>
                                                        <div class="device-stripe"></div>
                                                        <div class="device-header"></div>
                                                        <div class="device-sensors"></div>
                                                        <div class="device-btns"></div>
                                                        <div class="device-power"></div>
                                                        <div class="device-home"></div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 my-auto">
                                        <div class="container-fluid">
                                            <div class="row">
                                                @foreach (var azappContent in textWithIcons)
                                                {
                                                    <div class="col-lg-6 contentId" id="@azappContent.Id">
                                                        <div class="feature-item" style="padding-top:10px; padding-bottom:10px;">
                                                            @if (azappContent.HasValue("iconFontAwesome") && !azappContent.HasValue("imageIcon"))
                                                            {
                                                                <i class="@azappContent.Value("iconFontAwesome") text-primary" style="background:unset; -webkit-text-fill-color:#f0423d;"></i>
                                                            }
                                                            else
                                                            {
                                                                try
                                                                {
                                                                    <img src="@(((IPublishedContent)azappContent.Value("imageIcon")).Url)" style="height:40px; margin-bottom:5px;" alt="@azappContent.Value("title")" />
                                                                }
                                                                catch (Exception) { }
                                                            }

                                                            <h3 style="margin-bottom:5px; @(azappContent.HasValue("titleColor") ? String.Format("{0}{1}{2}", "color:#", azappContent.Value("titleColor"), ";") : "color:#ffffff")
                                                                 @(azappContent.HasValue("titleSize") ? String.Format("{0}{1}{2}", "font-size:", azappContent.Value("titleSize"), "px !important;") : "font-size:18px;")">
                                                                @Html.Raw(azappContent.Value("title"))
                                                            </h3>
                                                            <span style="@(azappContent.HasValue("textColor") ? String.Format("{0}{1}{2}", "color:#", azappContent.Value("textColor"), " !important;") : "color:#ffffff")
                                                                   @(azappContent.HasValue("textSize") ? String.Format("{0}{1}{2}", "font-size:", azappContent.Value("textSize"), "px !important;") : "font-size:18px;")" class="text-muted">@Html.Raw(azappContent.Value("text"))</span>
                                                            </div>
                                                        </div>
                                                    }

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        break;

                    case "socialNetworks":

                        mailChimp = firstChild;

                        <section class="contact bg-primary backgroundImage" id="@menuAlias" style="@(String.Format("{0}{1}{2}", "background-image:url(", @backgroundImage, ");"))  @(firstChild.HasValue("backgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", firstChild.Value("backgroundColor"), " !important;") : "background-color:#ffffff;")
                                 @(firstChild.HasValue("backgroundColorGradiant") ? String.Format("{0}{1}{2}", "background:", firstChild.Value("backgroundColorGradiant"), " !important;") : "")">
                            <div class="container">
                                <h1 id="socialNetworksHeader" style="@(firstChild.HasValue("textColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("textColor"), ";") : "color:#ffffff")
                                    @(firstChild.HasValue("textSize") ? String.Format("{0}{1}{2}", "font-size:", firstChild.Value("textSize"), "px;") : "font-size:18px;")">
                                    @Html.Raw(firstChild.Value("text"))
                                </h1>
                                <div id="emptyFieldsAlertMailChimp" style="text-align:left;" class="row alert alert-warning" role="alert">
                                    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                                    @* TEXT INSERTED VIA JQUERY *@
                                </div>
                                <div id="alertStatusMailChimp" style="text-align:left;"></div>

                                @using (Html.BeginForm(null, null, FormMethod.Post, htmlAttributes: new { @id = "formAntiForgeryMailChimp" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <div id="newsletterSideContainer" class="col-12">
                                    <div class="newsletterSideContainer">
                                        @{
                                            var options3 = firstChild.Value<string[]>("chooseLanguageDropdown");
                                        }

                                        <div class="row" style="margin-bottom: 18px;">

                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                <div class="d-flex" id="newsletterEmail">
                                                    <input id="formEmailMailChimp" class="form-control" style="background-color: #ececec;" name="Email" placeholder="Email" type="email" autocomplete="off">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <div class="d-flex" id="chooseLanguage">
                                                    <select id="formLanguageMailChimp" class="form-control" name="Language" style="background-color: #ececec;">
                                                        <option value="null" selected="">@firstChild.Value("chooseLanguageLabel")</option>
                                                        @foreach (var tag in options3)
                                                        {
                                                            <option value="@tag">@tag</option>
                                                        }

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-10 col-sm-12 col-xs-12">

                                                <div class="d-flex mb-5" style="margin-left:20px; text-align:left; font-size:12px; color:#555">
                                                    <input type="checkbox" id="formAcceptTermChimp" class="form-check-input" value="" style="vertical-align: middle; position: relative; bottom: 1.5px; margin-right:10px;" />
                                                    @Html.Raw(firstChild.Value("text1"))
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-sm-12 col-xs-12" style="right:9px;">
                                                <a id="newsButton" class="btn btn-outline btn-xl js-scroll-trigger" style="cursor: pointer; @(firstChild.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "color:#", firstChild.Value("buttonTextColor"), ";") : "color:#ffffff;")  @(firstChild.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "border-color:#", firstChild.Value("buttonTextColor"), ";") : "border-color:#ffffff")">
                                                    @Html.Raw(firstChild.Value("buttonText"))
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        break;
                }
            }
        }


        <div id="cookieConsent">
            This website is using cookies.
            <a id="ref" href="#privacyPolicyModal" target="_blank" data-toggle="modal" data-target="#privacyPolicyModal">More info</a>.
            <div class="cookieConsentOK" onclick="closeCookieAccept()">OK</div>
        </div>

        <footer id="footer" style="padding:0; @(site.HasValue("footerBackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footerBackgroundColor"), "!important;") : "background-color:#000")">
            <div class="container" style=" padding-bottom: 25px; padding-top:25px; @(site.HasValue("footerBackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footerBackgroundColor"), "!important;") : "background-color:#000")
                 @(site.HasValue("footerColorGradiant") ? String.Format("{0}{1}{2}", "background:", site.Value("footerColorGradiant"), " !important;") : "")">
                @Html.Partial("~/Views/Partials/_Footer.cshtml")
            </div>
            <div class="footerCustomHorizontalSeparator"></div>

            <div class="container" id="cofinancedLogos" style="@(site.HasValue("footer2BackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footer2BackgroundColor"), "!important;") : "background-color:#000")">

                <p style="margin-bottom: 25px; @(site.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("footerTextSize"), "px !important;") : "font-size:18px;")
       @(site.HasValue("footer2TextColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("footer2TextColor"), ";") : "color:#ffffff")">Cofinanced by</p>


                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="@cofinancedProjects.Url" target="_blank">
                            @foreach (var logos in (IEnumerable<IPublishedContent>)cofinancedProjects.Value("confinacedImages"))
                            {
                                <img id="footerCofinancedLogos" alt="" src="@logos.Url" style="margin-right:12.5px; margin-left:12.5px; width:120px;" />
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="~/Content/js/new-age.min.js"></script>

        <!-- Site CSS -->
        <link href="~/Content/Site.css" rel="stylesheet">

    </body>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>

       function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays  *24 *60 *60  * 1000));
        var expires = "expires=" + d.toUTCString();
        var hostname = window.location.hostname.replace("www.", "");
        document.cookie = cname + "=" + cvalue + ";" + expires + ";domain=" + hostname + "; path=/";

    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $(document).ready(function () {
        if (getCookie("cookieAccept") == "") {
            $("#cookieConsent").fadeIn(1000);
        }
    });

    function closeCookieAccept() {
        $("#cookieConsent").fadeOut(200);
        setCookie("cookieAccept", true, 30);

    }



        $(".contentId").mouseover(function () {
            var itemId = this.id;
            $(".uniquePhoneImage").css("display", "none");
            $("#" + itemId).css("display", "block");
            $(".uniquePhoneImageFather").css("display", "block");
        })
            .mouseout(function () {
                var itemId = this.id;
                $(".uniquePhoneImage").css("display", "none");
                $("#defaultImage").css("display", "block");
            });

        $('.owl-carousel').owlCarousel({
            loop: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 5000,
            items: 1
        });

        $('#submitDownload').click(function () {
            var div = document.getElementById('alertMessages');

            if ( $('#companyUserName').val().length == 0 || $('#phoneNumber').val().length == 0 || $('#email').val().length == 0 /*|| $('#appName').val().length == 0*/ || $('#description').val().length == 0 || /*$('#appUrl').val().length == 0 ||*/ /*$('#appKeywords').val().length == 0 ||*/ $('#functionalities').val().length == 0 ) {
                div.innerHTML = "";

                $('#emptyFieldsAlert ul').remove();
                var strAppend = "<ul>";
                if ($('#companyUserName').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(companyUserNameAlert))+ "</li>";
                if ($('#phoneNumber').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(phoneNumberAlert))+ "</li>";
                if ($('#email').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(emailAlert))+ "</li>";
                @*if ($('#appName').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(appNameAlert))+ "</li>";*@
                if ($('#description').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(descriptionAlert))+ "</li>";
                 @*if ($('#appUrl').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(appUrlAlert))+ "</li>";
                if ($('#appKeywords').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(appKeywordsAlert))+ "</li>";*@
                if ($('#functionalities').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(functionalitiesAlert))+ "</li>";

                strAppend += "</ul>";
                $('#emptyFieldsAlert').append(strAppend).show();
                $('#myModal').animate({ scrollTop: 0 }, 'slow');
                return;
            }
            else {
                var frm = $('#downloadForm');

                $.ajax({
                        type: 'POST',
                        url: '@Url.Action("StoreSubmit", "Home")',
                        data: frm.serialize(),
                    success: function () {
                        var funcionalities = "";
                        $("#functionalities option:selected").each(function () {
                            funcionalities += $(this).text() + "/n";
                        });
                        //var dataForm = { "CompanyUserNameField": $('#companyUserName').val(), "PhoneNumberField": $('#phoneNumber').val(), "EmailField": $('#email').val(), "DescriptionField": $('#description').val(), "FuncionalitiesLabelField": funcionalities }

                        div.innerHTML = "<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>@successAlert</div>";

                        document.getElementById("downloadForm").reset();
                        document.getElementById("downloadForm").focus();
                         alert("@successAlert");
                         $('#myModal').modal('toggle');
                        //POST Pardot Form Handler
                        //$.ajax({
                        //    url: "https://marketing.azapp.pt/l/917401/2021-03-12/nlc",
                        //    type: "POST",
                        //    dataType: 'jsonp',
                        //    data: dataForm,
                        //    crossDomain: true,
                        //    success: function () { },
                        //    error: function () { }
                        //});

                    },
                    error: function () {
                        div.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>@errorAlert</div>";
                        alert("@errorAlert");
                    },
                });
                $('#myModal').animate({ scrollTop: 0 }, 'slow');
                $('#emptyFieldsAlert').hide();
                $('#emptyFieldsAlert ul').remove();
            }
        });

        $('#myModal').animate({ scrollTop: 0 }, 'slow');
          $('#emptyFieldsAlert button').click(function () {
            $('#emptyFieldsAlert').hide();
            $('#emptyFieldsAlert ul').remove();
          });


        $('#submitHelp').click(function () {
            var div = document.getElementById('alertMessages2');

            if ($('#userName').val().length == 0 || $('#email2').val().length == 0 || $('#description2').val().length == 0 ) {
                div.innerHTML = "";

                $('#emptyFieldsAlert2 ul').remove();
                var strAppend = "<ul>";
                if ($('#userName').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(userNameAlert))+ "</li>";
                if ($('#email2').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(emailAlert2))+ "</li>";
                if ($('#description2').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(descriptionAlert2))+ "</li>";

                strAppend += "</ul>";
                $('#emptyFieldsAlert2').append(strAppend).show();
                $('#myModal').animate({ scrollTop: 0 }, 'slow');
                return;
            }
            else {
                var frm = $('#contactUsForm');

                $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ContactSubmit", "Home")',
                        data: frm.serialize(),
                        success: function () {
                            //var dataForm = { "UserNameField": $('#userName').val(), "TypeField": $('#type').val(), "EmailField2": $('#email2').val(), "DescriptionField2": $('#description2').val() }

                            div.innerHTML = "<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>@successAlert</div>";

                            document.getElementById("contactUsForm").reset();
                            alert("@successAlert");
                            $('#myModal2').modal('toggle');
                            //POST Pardot Form Handler
                            //$.ajax({
                            //    url: "https://marketing.azapp.pt/l/917401/2021-03-12/nh7",
                            //    type: "POST",
                            //    dataType: 'jsonp',
                            //    data: dataForm,
                            //    crossDomain: true,
                            //    success: function () { },
                            //    error: function () { }
                            //});
                        },
                        error: function () {
                            div.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>@errorAlert</div>";
                            alert("@errorAlert");
                        },
                });
                $('#myModal').animate({ scrollTop: 0 }, 'slow');
                $('#emptyFieldsAlert').hide();
                $('#emptyFieldsAlert ul').remove();
            }
        });

          $('#emptyFieldsAlert2 button').click(function () {
            $('#emptyFieldsAlert2').hide();
            $('#emptyFieldsAlert2 ul').remove();
          });



       //MailChimp

    $('#newsButton').click(function () {
        //check if any field is empty
        var languageStr = $('#formLanguageMailChimp').val();
        var emailStr = $('#formEmailMailChimp').val();
        var checkBox = $('#formAcceptTermChimp').is(':checked');
        var regex = new RegExp(/^[a-z0-9]+@@[a-z0-9]+\.[a-z0-9]{2,3}$/i);

        if (languageStr == "null" || emailStr.length == 0 || !checkBox) {
            $('#emptyFieldsAlertMailChimp ul').remove();
            var strAppend = "<ul>";

            if (languageStr == "null") {
                strAppend += "<li>" +@Html.Raw(Json.Encode(@mailChimp.Value("emptyLanguageText"))) + "</li>";
            }
            if (emailStr.length == 0) {
                strAppend += "<li>" +@Html.Raw(Json.Encode(@mailChimp.Value("emptyEmailText"))) + "</li>";
            }
            //check email with regex
            else if (!regex.test(emailStr)) {
                strAppend += "<li>" + @Html.Raw(Json.Encode(@mailChimp.Value("wrongEmailFormatText"))) + "</li>";
            }
            if (!checkBox) {
                strAppend += "<li>" +@Html.Raw(Json.Encode(@mailChimp.Value("messageCheckRGPD"))) + "</li>";
            }

            strAppend += "</ul>";
            $('#emptyFieldsAlertMailChimp').append(strAppend).show();
            return;
        }
        $('#emptyFieldsAlertMailChimp').hide();

        //var dataForm = { "Email": $('#formEmailMailChimp').val(), "Language": $('#formLanguageMailChimp').val() };
        //var alertDiv = document.getElementById('alertStatusMailChimp');

        //POST Pardot Form Handler
        @*$.ajax({
            url: "https://marketing.azapp.pt/l/917401/2021-03-12/nm7",
            type: "POST",
            dataType: 'jsonp',
            data: dataForm,
            crossDomain: true,
            statusCode: {
                200: function () {
                    alertDiv.innerHTML = "<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "<ul><li>" + @Html.Raw(Json.Encode(@mailChimp.Value("successAlertText"))) + "</ul></li>" + "</div>";
                    document.getElementById("formAntiForgeryMailChimp").reset();
                }
            },
            error: function () {
                alertDiv.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "<ul><li>" + @Html.Raw(Json.Encode(@mailChimp.Value("errorAlertText"))) + "</ul></li>" + "</div>";
            }
        });*@

        @*var token = $('#formAntiForgeryMailChimp input[name="__RequestVerificationToken"]').val();
        $.ajax({
            url: '@Url.Action("UmbracoMembers", "FormMailChimp")',
            type: 'POST',
            dataType: 'json',
            data: {
                __RequestVerificationToken: token,
                language: languageStr,
                email: emailStr,
                emails: "@site.Value("emails")"
            },
            success: function (response) {

                var message = response.message;
                var alertDiv = document.getElementById('alertStatusMailChimp');

                if (response.error.indexOf("false") != -1) {
                    alertDiv.innerHTML = "<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "<ul><li>" + message + "</ul></li>" + "</div>";

                    document.getElementById("formAntiForgeryMailChimp").reset();

                }
                else {
                    alertDiv.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>" + "<ul><li>" + message + "</ul></li>" + "</div>";
                }
            }
        });*@
    });

    function clearAlertStatusMailChimp() {
        $('#alertStatusMailChimp').hide().removeClass("alert-danger alert-warning alert-success").find("text").remove();
    }

    $('#emptyFieldsAlertMailChimp button').click(function () {
        $('#emptyFieldsAlertMailChimp').hide();
        $('#emptyFieldsAlertMailChimp ul').remove();
    });


    $('#alertStatusMailChimp button.close').click(function () {
        clearAlertStatusMailChimp();
    });

    $('#emptyFieldsAlertMailChimp button.close').click(function () {
        $('#emptyFieldsAlertMailChimp').hide();
    });

    </script>
    <style>

        p {
            font-size: unset;
         line-height: unset !important;
        }

        #mainNav.navbar-shrink{
         background-color:@colorHeader !important;
         background: @(site.HasValue("headerColorGradiant") ? site.Value("headerColorGradiant") + " !important;" : "");

        }

        /*width*/
        ::-webkit-scrollbar {
            width: 10px;
        }

        /*Track*/
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /*Handle*/
        ::-webkit-scrollbar-thumb {
            background: @colorHeader;
        }

            /*Handle on hover*/
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            #cookieConsent {
                background-color: rgba(20,20,20,0.8);
                min-height: 26px;
                font-size: 14px;
                color: #ccc;
                line-height: 26px;
                padding: 8px 0 8px 30px;
                font-family: 'Gotham Rounded Light';
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 9999;
                display:none;
            }

                #cookieConsent a {
                    color: #f0423d;
                    text-decoration: none;
                }

                #cookieConsent div.cookieConsentOK {
                    background-color: #FFF;
                    color: #000;
                    display: inline-block;
                    border-radius: 5px;
                    padding: 0 20px;
                    cursor: pointer;
                    float: right;
                    margin: 0 60px 0 10px;
                }

                #cookieConsent div.cookieConsentOK:hover {
                    background-color: #f0423d;
                }

        @@media only screen and (min-width: 200px) and (max-width: 767px) {
            #newsletterEmail, #chooseLanguage {
                margin: 2%;
            }
        }
    </style>
}
catch (Exception) { }
