﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137991324-1"></script>
<script></script>

@{
    var site = Umbraco.AssignedContentItem.Parent;
    var currentPage = Umbraco.AssignedContentItem;
    ViewBag.site = site;
    var current_culture = site.GetCultureFromDomains();
    IPublishedContent ogImage = null;
    var favicon = String.Empty;
    var cofinancedProjects = site.ChildrenOfType("cofinancedProjects").FirstOrDefault();
    var colorHeader = site.HasValue("headerColor") ? "#" + site.Value("headerColor") : "#ffffff";

    var companyUserNameAlert = String.Empty;
    var phoneNumberAlert = String.Empty;
    var emailAlert = String.Empty;
    var descriptionAlert = String.Empty;
    var functionalitiesAlert = String.Empty;
    var successAlert = String.Empty;
    var errorAlert = String.Empty;

    try
    {
        favicon = site.Value<IPublishedContent>("favicon").GetCropUrl(32, 32, quality: 70);
    }
    catch (Exception) { }

    try
    {
        ogImage = site.Value<IPublishedContent>("openGraphImage");
    }
    catch (Exception) { }
}

<!DOCTYPE Html>
<html lang="@site.GetCultureFromDomains()">
<head>
    @if (favicon.Length > 0)
    {
        <link rel="shortcut icon" type="image/png" href="@favicon" />
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:description" content="@Html.Raw(currentPage.Value("metaDescription"))" />
    <meta name="WorldIT" content="">
    <meta http-equiv="content-language" content="@currentPage.GetCultureFromDomains()">
    <meta property="og:title" content="Azapp | worldIT" />
    <meta property="og:image" content="@ogImage.Url(mode: UrlMode.Absolute)" />
    <meta property="og:type" content="business.business" />
    <meta property="og:url" content="@currentPage.Url(mode: UrlMode.Absolute)" />
    <meta property="fb:app_id" content="azapp.pt" />
    <meta property="fb:app:id" content="azapp.pt" />

    <title>@currentPage.Value("title")</title>
    <meta name="description" content="@Html.Raw(currentPage.Value("metaDescription"))" />


    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/devices.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/new-age.min.js"></script>

    <!-- Site CSS -->
    <link href="~/Content/Site.css" rel="stylesheet">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Content/device-mockups/device-mockups.min.css">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/new-age.min.css" rel="stylesheet">

    <script type="application/ld+json">
        {
        "@@context": "https://schema.org/",
        "@@type": "Product",
        "name": "Azapp",
        "description": "Your APP!",
        "brand": "Azapp | worldIT"
        }
    </script>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="@(site.HasValue("headerColor") ? String.Format("{0}{1}{2}", " background-color:#", site.Value("headerColor"), ";") : " background-color:#ffffff")">
        @Html.Partial("~/Views/Partials/_Navigation.cshtml")
    </nav>
    <section class="download text-center" id="download">
        @try
        {
            var childs = currentPage.ChildrenOfType("pricingElement");
            <div id="contentContainer" class="col-md-12">
                @if (currentPage.HasValue("pageTitle"))
                {
                    <div class="pageTitle">@currentPage.Value("pageTitle")</div>
                }
                @if (currentPage.HasValue("initialDescription"))
                {
                    <div class="pageDescription">@Html.Raw(currentPage.Value("initialDescription"))</div>
                }


                @foreach (var item in childs)
                {
                    var features = item.Value<IEnumerable<IPublishedElement>>("features");
                    var itemName = item.Value("title").ToString().Replace(" ", "");
                    var isRadioButton = item.Value<bool>("isRadioButton");

                    <div class="col-md-6 col-sm-12 @(!isRadioButton ? "additionals" : "")">
                        <label for="@itemName" class="collapsible @(!isRadioButton ? "collapsibleDisabled" : "")">
                            @if (isRadioButton)
                            {
                                <input type="radio" id="@itemName" name="itemSelect" value="@item.Value("title")">
                                @item.Value("title")<i class="fas fa-angle-down collapseIcon"></i>
                            }
                            else
                            {
                                <span>@item.Value("title")</span>
                            }


                        </label>
                        <div class="content col-md-12">
                            @foreach (var feature in features)
                            {
                                var featureName = feature.Value("featureName").ToString().Replace(" ", "");
                                var featurePrice = feature.Value("featureValue").ToString().Trim();
                                var isMandatory = feature.Value<bool>("isMandatory");

                                <div class="form-check" style="display: flex; align-items: center; padding-bottom: 10px;">
                                    <input class="form-check-input" type="checkbox" @(!isRadioButton ? "class=" + @featureName : "") id="@featureName" name="@featureName" value="@featurePrice" @(isMandatory ? "disabled checked" : "")>
                                    <label for="@featureName" style="display:flex; align-items: center" class="form-check-label col-md-12 col-sm-12">
                                        <span class="col-md-9 col-sm-9" style="display: inline-block">@feature.Value("featureName").ToString()</span>
                                        @if (!String.IsNullOrEmpty(featurePrice))
                                        {
                                            <span class="col-md-3 col-sm-3" style="text-align: right;">@String.Format("{0} €", featurePrice)</span>
                                        }
                                    </label>
                                </div>

                            }
                        </div>
                    </div>
                }
                <div class="col-md-6 col-sm-12">
                    <button type="button" class="collapsible resume collapsibleDisabled">@Umbraco.GetDictionaryValue("Price Resume")</button>
                    <div class="content total-price col-md-12">

                    </div>
                </div>
            </div>
        }
        catch (Exception) { }

        @try
        {
            var modal = currentPage.FirstChildOfType("appRequestModal");
            <div style="margin-top: 50px;">
                <a id="modal-button" class="btn btn-outline btn-xl js-scroll-trigger" data-toggle="modal" data-target="#myModal" style="cursor: pointer; @(modal.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "color:#", modal.Value("buttonTextColor"), ";") : "color:#ffffff")
                                        @(modal.HasValue("buttonTextColor") ? String.Format("{0}{1}{2}", "border-color:#", modal.Value("buttonTextColor"), ";") : "border-color:#ffffff") font-size: 18px !important;">
                    @modal.Value("buttonText")
                </a>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content" style="box-shadow:#ececec 5px 5px 5px">
                        <div class="modal-header" style="background-color:#ececec;">
                            <div class="modalTitleContainer" id="focusTitle" style="@(site.HasValue("modalTitleColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("modalTitleColor"), ";") : "color:#ffffff") font-size: 30px;">
                                <span>@modal.Value("title")</span>
                            </div>
                            <button class="close" style="cursor: pointer;" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <div class="modalProductsText" style="margin-bottom:2%;">
                                @Html.Raw(modal.Value("modalText"))
                            </div>
                            <div class="forms">
                                <form method="post" id="downloadForm">

                                    @Html.AntiForgeryToken()
                                    @{
                                        var options = Umbraco.CultureDictionary.GetChildren("Modal Features").Values.ToList();

                                        List<SelectListItem> items = new List<SelectListItem>();

                                        foreach (var item in options)
                                        {
                                            items.Add(new SelectListItem() { Text = item, Value = item });

                                        }

                                        companyUserNameAlert = modal.Value("companyUserNameAlert").ToString();
                                        phoneNumberAlert = modal.Value("phoneNumberAlert").ToString();
                                        emailAlert = modal.Value("emailAlert").ToString();
                                        descriptionAlert = modal.Value("descriptionAlert").ToString();
                                        functionalitiesAlert = modal.Value("functionalitiesAlert").ToString();
                                        successAlert = modal.Value("successAlert").ToString();
                                        errorAlert = modal.Value("successAlert").ToString();
                                    }

                                    <div id="alertMessages"></div>
                                    <div id="emptyFieldsAlert" style="text-align:left; display:none;" class="alert alert-warning" role="alert">
                                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    </div>

                                    <div class="form-group" style="text-align:left;">
                                        <label for="companyUserName">@Html.Raw(modal.Value("companyUserName"))</label>
                                        <input type="text" id="companyUserName" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="CompanyUserNameField" @*aria-describedby="emailHelp"*@ class="form-input" />
                                    </div>

                                    <div class="form-group" style="text-align:left;">
                                        <label for="phoneNumber">@Html.Raw(modal.Value("phoneNumber"))</label>
                                        <input type="text" id="phoneNumber" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="PhoneNumberField" class="form-input" />
                                    </div>

                                    <div class="form-group" style="text-align:left;">
                                        <label for="email">@Html.Raw(modal.Value("email"))</label>
                                        <input type="text" id="email" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="EmailField" class="form-input" />
                                    </div>

                                    <div class="form-group" style="text-align:left;">
                                        <label for="description">@Html.Raw(modal.Value("description"))</label>
                                        <textarea type="text" id="description" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;resize:none;" name="DescriptionField" rows="6" class="form-input"></textarea>
                                    </div>
                                    
                                    <div class="form-group" style="text-align:left;">
                                        <label for="functionalities">@Html.Raw(modal.Value("funcionalitiesLabel"))</label>
                                        <select id="functionalities" style=" border-bottom: 0.5px solid #808080; margin-bottom: 15px;" name="FuncionalitiesLabelField" class="form-input" size="6" multiple="multiple">
                                            @foreach (var tag in options)
                                            {
                                                <option value="@tag">@tag</option>
                                            }
                                        </select>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="submitDownload" style="cursor: pointer; background-color:#f0423d; font-size:12px; color:#fff;" class="btn btn-xl btn">@Umbraco.GetDictionaryValue("Send Button")</a>
                            <a id="bottomCloseButton" style="color:white; cursor: pointer; font-size: 12px;" class="btn btn-xl btn-secondary" data-dismiss="modal">@Umbraco.GetDictionaryValue("Close Button")</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        catch (Exception) { }
    </section>



    @try
    {
        <footer id="footer" style="padding:0; @(site.HasValue("footerBackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footerBackgroundColor"), "!important;") : "background-color:#000")">
            <div class="container" style=" padding-bottom: 25px; padding-top:25px; @(site.HasValue("footerBackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footerBackgroundColor"), "!important;") : "background-color:#000")
                 @(site.HasValue("footerColorGradiant") ? String.Format("{0}{1}{2}", "background:", site.Value("footerColorGradiant"), " !important;") : "")">
                @Html.Partial("~/Views/Partials/_Footer.cshtml")
            </div>
            <div class="footerCustomHorizontalSeparator"></div>

            <div class="container" id="cofinancedLogos" style="@(site.HasValue("footer2BackgroundColor") ? String.Format("{0}{1}{2}", "background-color:#", site.Value("footer2BackgroundColor"), "!important;") : "background-color:#000")">

                <p style="margin-bottom: 25px; @(site.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("footerTextSize"), "px !important;") : "font-size:18px;")
       @(site.HasValue("footer2TextColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("footer2TextColor"), ";") : "color:#ffffff")">Cofinanced by</p>


                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="@cofinancedProjects.Url" target="_blank">
                            @foreach (var logos in (IEnumerable<IPublishedContent>)cofinancedProjects.Value("confinacedImages"))
                            {
                                <img id="footerCofinancedLogos" alt="" src="@logos.Url" style="margin-right:12.5px; margin-left:12.5px; width:120px;" />
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    }
    catch (Exception) { }
</body>
</html>
<style>
    .pageTitle {
        font-size: 40px;
        font-weight: bolder;
        width: 100%;
        padding-left: 18px;
        margin-bottom: 30px;
        color: #f0423d;
    }

    .pageDescription {
        text-align: left;
        width: 100%;
        padding-left: 18px;
        font-size: 20px;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        background-color: #e6e6e6;
        color: #000;
        font-weight: bold;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        margin-top: 15px;
        /*text-align: left;*/
    }

        /*.collapsible:focus {
            outline-color: #f0423d;
        }*/

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .collapsible:hover {
            background-color: #ccc;
            border: none;
        }

    .resume {
        color: #f0423d;
    }

    .collapseIcon {
        margin-left: 10px;
    }
    /* Style the collapsible content. Note: hidden by default */
    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        text-align: left;
    }

    .total-price {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #f0423d;
        height: 120px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    #contentContainer {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto;
    }

    p {
            font-size: unset;
         line-height: unset !important;
        }

        #mainNav.navbar-shrink{
         background-color:@colorHeader !important;
         background: @(site.HasValue("headerColorGradiant") ? site.Value("headerColorGradiant") + " !important;" : "");

        }
        /*width*/
        ::-webkit-scrollbar {
            width: 10px;
        }

        /*Track*/
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /*Handle*/
        ::-webkit-scrollbar-thumb {
            background: @colorHeader;
        }

            /*Handle on hover*/
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            #cookieConsent {
                background-color: rgba(20,20,20,0.8);
                min-height: 26px;
                font-size: 14px;
                color: #ccc;
                line-height: 26px;
                padding: 8px 0 8px 30px;
                font-family: 'Gotham Rounded Light';
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 9999;
                display:none;
            }

                #cookieConsent a {
                    color: #f0423d;
                    text-decoration: none;
                }

                #cookieConsent div.cookieConsentOK {
                    background-color: #FFF;
                    color: #000;
                    display: inline-block;
                    border-radius: 5px;
                    padding: 0 20px;
                    cursor: pointer;
                    float: right;
                    margin: 0 60px 0 10px;
                }

                #cookieConsent div.cookieConsentOK:hover {
                    background-color: #f0423d;
                }

</style>
<script id="forSubmit">
    $('#submitDownload').click(function () {
            var div = document.getElementById('alertMessages');

            if ( $('#companyUserName').val().length == 0 || $('#phoneNumber').val().length == 0 || $('#email').val().length == 0 || $('#description').val().length == 0 || $('#functionalities').val().length == 0 ) {
                div.innerHTML = "";

                $('#emptyFieldsAlert ul').remove();
                var strAppend = "<ul>";
                if ($('#companyUserName').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(companyUserNameAlert))+ "</li>";
                if ($('#phoneNumber').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(phoneNumberAlert))+ "</li>";
                if ($('#email').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(emailAlert))+ "</li>";
                if ($('#description').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(descriptionAlert))+ "</li>";
                if ($('#functionalities').val().length == 0)
                    strAppend += "<li>" +@Html.Raw(Json.Encode(functionalitiesAlert))+ "</li>";

                strAppend += "</ul>";
                $('#emptyFieldsAlert').append(strAppend).show();
                $('#myModal').animate({ scrollTop: 0 }, 'slow');
                return;
            }
            else {
                var frm = $('#downloadForm');

                $.ajax({
                        type: 'POST',
                        url: '@Url.Action("StoreSubmit", "Home")',
                        data: frm.serialize(),
                    success: function () {
                        var funcionalities = "";
                        $("#functionalities option:selected").each(function () {
                            funcionalities += $(this).text() + "/n";
                        });
                        //var dataForm = { "CompanyUserNameField": $('#companyUserName').val(), "PhoneNumberField": $('#phoneNumber').val(), "EmailField": $('#email').val(), "DescriptionField": $('#description').val(), "FuncionalitiesLabelField": funcionalities }

                        div.innerHTML = "<div class='alert alert-success alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>@successAlert</div>";

                        document.getElementById("downloadForm").reset();
                        document.getElementById("downloadForm").focus();
                         alert("@successAlert");
                         $('#myModal').modal('toggle');
                        //POST Pardot Form Handler
                        //$.ajax({
                        //    url: "https://marketing.azapp.pt/l/917401/2021-03-12/nlc",
                        //    type: "POST",
                        //    dataType: 'jsonp',
                        //    data: dataForm,
                        //    crossDomain: true,
                        //    success: function () { },
                        //    error: function () { }
                        //});

                    },
                    error: function () {
                        div.innerHTML = "<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>@errorAlert</div>";
                        alert("@errorAlert");
                    },
                });
                $('#myModal').animate({ scrollTop: 0 }, 'slow');
                $('#emptyFieldsAlert').hide();
                $('#emptyFieldsAlert ul').remove();
            }
        });

        $('#myModal').animate({ scrollTop: 0 }, 'slow');
          $('#emptyFieldsAlert button').click(function () {
            $('#emptyFieldsAlert').hide();
            $('#emptyFieldsAlert ul').remove();
          });
</script>

<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        var hostname = window.location.hostname.replace("www.", "");
        document.cookie = cname + "=" + cvalue + ";" + expires + ";domain=" + hostname + "; path=/";

    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function closeCookieAccept() {
        $("#cookieConsent").fadeOut(200);
        setCookie("cookieAccept", true, 30);

    }

    $(document).ready(function () {
        var collapseDisabled = $(".collapsibleDisabled");

        if (getCookie("cookieAccept") == "") {
            $("#cookieConsent").fadeIn(1000);
        }

        for (let c of collapseDisabled) {
            var content = c.nextElementSibling;
            content.style.display = "block";
        }

        $(".additionals .content :checkbox").on("change", function (event) {
            calcPrice();
        });

        $(":radio").on("click", function (event) {
            collapse(event);
            calcPrice();
        });
    });

    function collapse(e) {
        var target = e.target.parentNode;
        target.classList.toggle("active");
        var content = target.nextElementSibling;
        var icon = target.getElementsByClassName("collapseIcon")[0];

        if (content.style.display === "block") {
            content.style.display = "none";
            icon.classList.remove("fa-angle-up");
            icon.classList.add("fa-angle-down");
        } else {
            content.style.display = "block";
            icon.classList.remove("fa-angle-down");
            icon.classList.add("fa-angle-up");
        }

    }

    function disableAdditionals(planFeatures, additionalFeatures) {
        var features = [];

        for (var i = 0; i < planFeatures.length; i++) {
            features[i] = planFeatures[i].children[0].id;
        }

        for (additional of additionalFeatures) {
            if (features.includes(additional.id)) {
                $("." + additional.id).prop("disabled", true);
                $("." + additional.id).prop("checked", false);
            }
            else {
                $("." + additional.id).prop("disabled", false);
            }
        }
    }

    function calcPrice() {
        var totalPrice = parseInt("0");
        var additionals = $(".additionals .content :checkbox");
        var planFeatures = $('input[name=itemSelect]:checked');

        if (planFeatures.length > 0) {
            planFeatures = planFeatures[0].parentNode.nextElementSibling.children;
            disableAdditionals(planFeatures, additionals);
        }

        for (var i = 0; i < planFeatures.length; i++) {
            var input = planFeatures[i].children[0];
            var checked = input.checked;
            var value = input.value;

            if (checked && value != "" && value != undefined) {
                var price = parseInt(value);
                totalPrice += price;
            }
        }

        for (let additional of additionals) {
            var checked = additional.checked;
            var value = additional.value;

            if (checked && value != "" && value != undefined) {
                var price = parseInt(value);
                totalPrice += price;
            }
        }

        $(".total-price").text(totalPrice + " €");
    }
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53635311-1', 'auto');
    ga('send', 'pageview');

</script>

@*<script type="text/javascript">
        piAId = '918401';
        piCId = '5580';
        piHostname = 'pi.pardot.com';

        (function () {
            function async_load() {
                var s = document.createElement('script'); s.type = 'text/javascript';
                s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
                var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
            }
            if (window.attachEvent) { window.attachEvent('onload', async_load); }
            else { window.addEventListener('load', async_load, false); }
        })();
    </script>*@


