﻿
                    
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var rootCache = new List<IPublishedContent>();
    try
    {
        rootCache = DependencyResolver.Current.GetService<IUmbracoContextFactory>().EnsureUmbracoContext().UmbracoContext.Content.GetAtRoot().ToList();

    }
    catch (Exception e) { }
    var exclusions = (List<IPublishedContent>)Umbraco.AssignedContentItem.Value("exclusions");

    var rootList = new List<IPublishedContent>();
    try
    {
        rootList = rootCache.Except(exclusions).ToList();
    }
    catch (Exception e) { }

    var excludeNodesWithoutTemplate = true;
    try
    {
        excludeNodesWithoutTemplate = (bool)Umbraco.AssignedContentItem.Value("excludeNodesWithoutTemplate");
    }
    catch (Exception e) { }

    if (excludeNodesWithoutTemplate)
    {
        rootList = rootList.Where(r => r.TemplateId > 0).ToList();
    }
}

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    @foreach (var root in rootList)
    {
        <url>
            <loc>@root.Url(mode: UrlMode.Absolute)</loc>
            <lastmod>@root.UpdateDate.ToString("yyyy-MM-ddTHH:mm:00")+00:00</lastmod>
            @if (root.HasValue("updateFrequency"))
            {
                <changefreq>@root.Value("updateFrequency")</changefreq>
            }
        </url>
        var descendants = new List<IPublishedContent>();
        try
        {
            descendants = root.Descendants().Except(exclusions).ToList();
        }
        catch (Exception e) { }

        if (excludeNodesWithoutTemplate)
        {
            descendants = descendants.Where(r => r.TemplateId > 0).ToList();
        }

        foreach (var content in descendants)
        {
            <url>
                <loc>@content.Url(mode: UrlMode.Absolute)</loc>
                <lastmod>@content.UpdateDate.ToString("yyyy-MM-ddTHH:mm:00")+00:00</lastmod>
                @if (content.HasValue("updateFrequency"))
                {
                    <changefreq>@content.Value("updateFrequency")</changefreq>
                }
            </url>
        }
    }
</urlset>    