﻿#mainNav {
    min-height: auto;  
}

.logo {
    height: 60px;
    width:initial;
   
}

.form-input {
    padding: 8px;
    display: block;
    border: none;
    width: 100%;
    background-color: transparent;
    outline: none;
}

    .form-input:focus {
        border-bottom-color: #f0423d !important;
    }

select {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}



option:hover {
    background-color: #f0423d;
}

select option[selected="selected"] {
    background-color: #f0423d !important;
}

option {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    
   
}
       


.backgroundImage{
    background-position:center !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
}



.navbar-expand-lg .navbar-collapse {
    text-align: left;
}


section.download .badges .badge-link img {
    height: 60px !important;
}


#cofinancedLogos {
    padding-bottom: 0px !important;
    padding-top: 25px;
    max-width: 100% !important;
    padding-bottom: 25px !important;
}


#button1:hover, #modal-button:hover, #modal-button2:hover, #newsButton:hover {
    background-color: #f0423d !important;
    color: #fff !important;
    border-color: #f0423d !important;
}

#button1:focus, #modal-button:focus, #modal-button2:focus, #newsButton:focus {
    display: none;
}


.footerCustomHorizontalSeparator {
    height: 1px;
    background-color: #fff;
    width: 100%;
}


#emptyFieldsAlertMailChimp {
    display: none;
    transition: .3s ease-in-out;
}

#formMailChimpContainer {
    font-family: 'Gotham Rounded Light';
}

.formGroupMailChimp {
    padding-left: 0;
}

#formFirstNameMailChimp,
#formLastNameMailChimp,
#formEmailMailChimp {
    width: 100%;
}

.formGroupMailChimp {
    margin-bottom: 9px;
}


@media only screen and (min-width: 200px) and (max-width: 767px) {

    #iphoneColum {
        display: none !important;
    }

    .formGroupMailChimp {
        padding-right: 0;
    }

    .introductionText {
        font-size: 40px !important;
    }

    #downloadAzappHeading, #contactUsHeader, #socialNetworksHeader {
        font-size: 40px !important;
    }

  
}

@media (max-width: 991px) {
    #mainNav {
        min-height: auto;
    }
}


