﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using ContentModels = Umbraco.Web.PublishedModels;


@try
{

    var footer = (IPublishedContent)ViewBag.site;




    <p style="@(footer.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("footerTextSize"), "px !important;") : "font-size:18px;")
       @(footer.HasValue("footerTextColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("footerTextColor"), ";") : "color:#ffffff")">
        &copy; @DateTime.Now.Year @footer.Value("companyRights")
    </p>

    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#privacyPolicyModal" data-target="#privacyPolicyModal" data-toggle="modal" style="@(footer.HasValue("footerTextColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("footerTextColor"), "!important;") : "color:#ffffff")
                   @(footer.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("footerTextSize"), "px !important;") : "font-size:18px;")">Privacy Policy</a>
            </li>
        <li class="list-inline-item">
            <a href="@footer.Value("linkUrl")" target="_blank" style="@(footer.HasValue("footerTextColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("footerTextColor"), "!important;") : "color:#ffffff")
               @(footer.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("footerTextSize"), "px !important;") : "font-size:18px;")">BackOffice</a>
        </li>
        <li class="list-inline-item">
            <a href="#faqModal" data-target="#faqModal" data-toggle="modal" style="@(footer.HasValue("footerTextColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("footerTextColor"), "!important;") : "color:#ffffff")
               @(footer.HasValue("footerTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("footerTextSize"), "px !important;") : "font-size:18px;")">FAQ's</a>
        </li>
    </ul>


            <div class="modal" id="faqModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content" style="box-shadow:#ececec 5px 5px 5px">
                        <div class="modal-header" style="background-color:#ececec;">
                            <h5 class="modal-title" style="@(footer.HasValue("modalTitleTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("modalTitleTextSize"), "px !important;") : "font-size:18px;")
                                @(footer.HasValue("modalTitleColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("modalTitleColor"), ";") : "color:#ffffff")">
                                @Html.Raw(footer.Value("modalTitle"))
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="@(footer.HasValue("modalTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("modalTextSize"), "px !important;") : "font-size:18px;")
                                @(footer.HasValue("modalTextColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("modalTextColor"), ";") : "color:#ffffff") text-align:left;">
                            @Html.Raw(footer.Value("modalText"))
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="@(footer.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("buttonTextSize"), "px !important;") : "font-size:18px;")" class="btn btn-xl btn-secondary" data-dismiss="modal">@footer.Value("buttonFAQText")</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="privacyPolicyModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content" style="box-shadow:#ececec 5px 5px 5px">
                            <div class="modal-header" style="background-color:#ececec;">
                                <h5 class="modal-title" style="color:#f0423d; @(footer.HasValue("modalTitleTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("modalTitleTextSize"), "px !important;") : "font-size:18px;")
                                            @(footer.HasValue("modalTitleColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("modalTitleColor"), ";") : "color:#ffffff")">
                                    @Html.Raw(footer.Value("privacyPolicyTitleModal"))
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="@(footer.HasValue("modalTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("modalTextSize"), "px !important;") : "font-size:18px;")
                                            @(footer.HasValue("modalTextColor") ? String.Format("{0}{1}{2}", "color:#", footer.Value("modalTextColor"), ";") : "color:#ffffff") text-align:left;">
                                @Html.Raw(footer.Value("privacyPolicyTextModal"))
                            </div>
                            <div class="modal-footer">
                                <button type="button" style="@(footer.HasValue("buttonTextSize") ? String.Format("{0}{1}{2}", "font-size:", footer.Value("buttonTextSize"), "px !important;") : "font-size:18px;")" class="btn btn-xl btn-secondary" data-dismiss="modal">@footer.Value("buttonFooterPrivacyPolicyText")</button>
                            </div>
                        </div>
                    </div>
                </div>

            <style>


                footer p {
                    font-size: unset;
                }
            </style>



            }


            catch (Exception e) { }

