﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@using ContentModels = Umbraco.Web.PublishedModels;



@try
{
    IPublishedContent site = ViewBag.site;
    List<IPublishedContent> menus = site.ChildrenOfType("menuItem").Where(x => !x.Value<bool>("hideInMainNavigation")).ToList();
    var navigation = Umbraco.ContentAtRoot();
    var current_culture = Model.GetCultureFromDomains();
    var homepages = Umbraco.ContentAtRoot().Where(x => x.ContentType.Alias.Equals("homepage"));




    <div class="container">

        <span class="navbar-brand js-scroll-trigger">
            <img class="logo" src="@(((IPublishedContent)site.Value("logo")).Url)" alt="" />
        </span>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                style="@(site.HasValue("navigationFontColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("navigationFontColor"), ";") : "color:#ffffff") @(site.HasValue("navigationFontColor") ? String.Format("{0}{1}{2}", "border-color:#", site.Value("navigationFontColor"), ";") : "color:#ffffff")">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @foreach (var menu in menus)
                {
                    var menuChild = menu.Children;
                    IPublishedContent firstChild = null;
                    var asPageLink = menu.Value<bool>("asPageLink");
                    var culture = current_culture.Split('-')[0];

                    if (menuChild.Any())
                    {

                        firstChild = menuChild.FirstOrDefault();
                        var menuAlias = firstChild.ContentType.Alias;

                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" style="@(site.HasValue("navigationFontSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("navigationFontSize"), "px !important;") : "font-size:18px;")
                                @(site.HasValue("navigationFontColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("navigationFontColor"), ";") : "color:#ffffff")" href="@(asPageLink ? menu.Url : String.Format("/{1}/#{0}", menuAlias, culture))">@menu.Name</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="@(site.HasValue("navigationFontSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("navigationFontSize"), "px !important;") : "font-size:18px;")
                                @(site.HasValue("navigationFontColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("navigationFontColor"), ";") : "color:#ffffff")" href="@(asPageLink ? menu.Url : String.Format("/{0}/#", culture))">@menu.Name</a>
                            </li>
                        }
                    }
            </ul>
            @if (homepages.Count() > 1)
            {
                <div class="languagesContainer">
                    @foreach (var homepage in homepages)
                    {
                        if (homepage.GetCultureFromDomains().Equals(current_culture))
                        {
                            <a class="homeLangs disabledLang" style="@(site.HasValue("navigationFontSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("navigationFontSize"), "px !important;") : "font-size:18px;")
                                @(site.HasValue("navigationFontColor") ? String.Format("{0}{1}{2}", "color:#", site.Value("navigationFontColor"), ";") : "color:#ffffff")">
                                @homepage.GetCultureFromDomains().Split('-')[0].ToUpper()
                            </a>
                        }
                        else
                        {
                            <a href="@homepage.Url" class="homeLangs" style="@(site.HasValue("navigationFontSize") ? String.Format("{0}{1}{2}", "font-size:", site.Value("navigationFontSize"), "px !important;") : "font-size:18px;")
                               ">
                                @homepage.GetCultureFromDomains().Split('-')[0].ToUpper()
                            </a>
                        }
                    }
                </div>
            }
        </div>
    </div>


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>

    <script>

        /**
         * Replace all SVG images with inline SVG
         */
        $('.logo').each(function () {
            var $img = jQuery(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            jQuery.get(imgURL, function (data) {
                // Get the SVG tag, ignore the rest
                var $svg = jQuery(data).find('svg');

                // Add replaced image's ID to the new SVG
                if (typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if (typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass + ' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

        });
    </script>

    <style>

    svg path {
        fill:@(site.HasValue("colorLogo") ? "#" + site.Value("colorLogo") + " !important;" : "");
    }

    svg tspan{
          fill:@(site.HasValue("colorLogo") ? "#" +  site.Value("colorLogo") + " !important;" : "");
    }

        #mainNav .navbar-nav>li>a.active{
        color:#f0423d !important;
        }

.languagesContainer {
    margin-left: 10vw;
    font-size: 18px;
}

.homeLangs {
    font-weight: 500;
    color: #808080;
}



.homeLangs:hover {
    text-decoration: none;
    color: #e8531a;
}

.homeLangs:not(:last-child)::after {
    content: '|';
    margin: 0 15px 0 15px;
    color: #fff;
}

    .homeLangs:not(:last-child)::after:hover {
        color: #fff;
    }


             @@media only screen and (min-width: 200px) and (max-width: 767px) {

     #iphoneColum{
        display:none !important;
        }

        .languagesContainer{
        margin-left: 0;
        margin-top:2%;

        }


        }






    </style>

}
catch (Exception e) { }
